
main {
  flex: 1;
  display: flex;
  flex-direction: row; /* Горизонтальное расположение */
  justify-content: space-between; /* Распределение пространства между компонентами */
  align-items: start; /* Выравнивание компонентов по верхнему краю */
  padding: 20px;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}



.App {
  text-align: center;
  background-color: #1a1a1a; /* Темный фон для всего приложения */
  color: white; /* Белый текст для контраста */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #333; /* Светло-серый фон для заголовка */
  padding: 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Добавим тень для объемности */
}



