.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-title {
    font-weight: bold;
    color: black;
    margin-bottom: 20px; /* Отступ снизу для надписи */
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
