.video-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.camera-grid {
    position: relative;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: 25px;
}

.camera {
    background-color: #333;
    color: white;
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

#video-1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#video-2 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#video-3 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#video-4 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.active-camera {
    background-color: #333;
    color: white;
    width: 800px;
    height: 800px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transform: none;
}
